body{

    font-family: 'Gantari', sans-serif;
    font-family: 'Roboto', sans-serif;
margin: 0;
}
h1{
 font-size: 50px;
}
.orange-colour{
color: orange;
}



.half-width{
    width: 50%;
    padding-left: 50px;
    margin-bottom: 100px;
}
.half-width img{
    width: 90%;
}
.hlw{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 30px;
    border-radius: 5px;
    color: white;
    font-weight: 800;
}
.banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    display: flex;
    
}
.pg{
text-align: justify;

}
#pragraph{
    text-align: justify;
}

.riyan{
    margin-right: 20px;
    width: 50%;

}

.riyan img {
width: 80%;
}
.second-section{
    display: flex;
}
.hello{
padding-top: 30px;

}

.half-width{
    text-align: justify;
}

#hi{
    text-align: justify;
}
.resume{
text-decoration: none;
background-image: linear-gradient(orange,tomato);
padding: 10px 30px;
border-radius: 5px;
color: white;
font-weight: 800;


}
.second-section{
background-image: url(images/dream-bg.png);
background-repeat: no-repeat;
background-position: right ;
padding-right: 100px;
padding-bottom: 30px;
}

.sect{

margin-top: 150px;
background-image: url(images/exp-bg.png);
background-repeat: no-repeat;
background-position: left;

}


.hellp{
 display: flex;
 


}

.xprnc{
 width: 40%;
margin-bottom: 150px;
margin-left: 80px;
padding-left: 15px;
padding-right: 15px;
padding-top: 10px;
padding-bottom: 150px;


}

.color{
color: orange;

}

.new{
box-shadow: 10px 10px  60px gray ;
border-left: 7px solid blue;
}

.sm{
 border-left: 7px solid tomato;


}
.mk{
text-align: justify;
padding-top: 10px;
}

p{
    text-align: center;
}
